<ion-view view-title="About Us">
  <ion-content>

<div class="card" style="padding : 7px;">
<h3 style="color: #ef473a;"><center>About Us</h3>
<center>
<img src="img/icon1.png" width="40%" height="40%">
<p><b><center>This app is about : </b></p>
<p>
Seafood at Sabak Bernam area
</p>
<p>
Giving the option of restaurant, recipe seafood, cooking video of seafood and additional information at Sabak Bernam area
</p> <br />
<p><b>
<center>This application create by student tourism in management at Politeknik Sabak Bernam by :
</b></p>
<p>
1.	Shahril Hafiz Bin Sharul Hisam <br />
2.	Zuhaira Nasrin Binti Mohamed Jamil <br />
3.	Nur Atikah Binti Rusman <br />
4.	Erra Syahirah Binti Saharudin
</p>
<br />
<p><b><center>Supervisor : </b><p>
<p> Madam Aklimima Binti Awang </p>

</div>

  </ion-content>
</ion-view>

