<ion-view view-title="Attraction">
  <ion-content>
  <ion-item>

        <ion-item class="item item-text-wrap">
          <div>
          <img src="img/at1.jpg" width="100%" height="40%">
            <h2 style="padding-bottom: 4px; color: #ef473a;"><b>Sekinchan Padi Box Homestay</b></h2>
            <p><b>Address : </b></p>
            <p>
            Lot 11126, Jalan Tali Air 4, 45400 Sekinchan, Selangor, Malaysia.
            </p>
            <br />
             <p><b>Attraction : </b></p>
            <p style="text-align: justify;">
•	Paddy field fresh sight-seeing <br />
•	Unique and modern decoration for picture taking <br />
•	Made of freight colourful containers, transform into cosy bedroom.
            </p>
          </div>
        </ion-item>

        <ion-item class="item item-text-wrap">
          <div>
          <img src="img/at2.jpg" width="100%" height="40%">
            <h2 style="padding-bottom: 4px; color: #ef473a;"><b>3D Art Gallery</b></h2>
            <p><b>Address : </b></p>
            <p>
Lot 10423, Jalan Parit 5, 45400, Sekinchan, Selangor.
            </p>
            <br />
             <p><b>Attraction : </b></p>
            <p style="text-align: justify;">
•	3D Art paintings <br />
•	Entrance Fees : <br/> 
&nbsp;&nbsp;&nbsp;&nbsp;Adult : RM15 <br />
&nbsp;&nbsp;&nbsp;&nbsp;Children: RM12  <br />
&nbsp;&nbsp;&nbsp;&nbsp;Children below 7 years old : Free <br />
•	Operation Business Hour : Every Friday to Sunday <br />
•	School Holiday and Public Holiday : From 9.30 am to 7.00 pm
            </p>
          </div>
        </ion-item>

         <ion-item class="item item-text-wrap">
          <div>
          <img src="img/at3.jpg" width="100%" height="40%">
            <h2 style="padding-bottom: 4px; color: #ef473a;"><b>Farm Villa Cafe & Homestay</b></h2>
            <p><b>Address : </b></p>
            <p>
Lot 11304, Jalan Tepi Sawah, Kampung Site B Tambahan, 45400 Sekinchan, Selangor.
            </p>
            <br />
             <p><b>Attraction : </b></p>
            <p style="text-align: justify;">
•	Modern decorated homestay with café <br />
•	Have trampoline, kids swimming pool with slide, air conditioning room, free wifi. <br />
•	Operating hours : 10 a.m. till 10 p.m.
            </p>
          </div>
        </ion-item>

          <ion-item class="item item-text-wrap">
          <div>
          <img src="img/at4.jpg" width="100%" height="40%">
            <h2 style="padding-bottom: 4px; color: #ef473a;"><b>Nata De Coco Factory</b></h2>
            <p><b>Address : </b></p>
            <p>
Lot 9492, Jalan Besar Sungai Limau, Sungai Besar, Selangor.
            </p>
            <br />
             <p><b>Attraction : </b></p>
            <p style="text-align: justify;">
•	Can buy Nata De Coco with cheap pcice (3pack 1.5 L for RM10). <br />
•	Muslim product and have halal certificate. <br />
•	There is a lot of another delicious product to try. <br /> 
•	Office hour: 8.30 a.m – 5.30 p.m (Monday – Saturday only)
            </p>
          </div>
        </ion-item>

           <ion-item class="item item-text-wrap">
          <div>
          <img src="img/at5.jpg" width="100%" height="40%">
            <h2 style="padding-bottom: 4px; color: #ef473a;"><b>Sungai Besar Town</b></h2>
            <p><b>Address : </b></p>
            <p>
Kampung Parit Empat, 45300 Sungai Besar, Selangor.
            </p>
            <br />
             <p><b>Attraction : </b></p>
            <p style="text-align: justify;">
•	The assortment of items can find here is mainly women who prefer a collection of scarves, fabrics and many more with the most competitive prices to match even the Air Hitam, Johor, Pengkalan Kubur in Kelantan and Padang Besar in Perlis. <br />
•	Recommended shop : Arcade Man, Economy Supermarket, Hypermarket Yang Yang.
            </p>
          </div>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
