<ion-view view-title="Credits">
<ion-content>
<div class="list card"> 

  <a class="item item-icon-right" ng-click="goCredits()">
    <p style="color: #ef473a;">Dapur ilham.com</P>
  </a>

    <a class="item item-icon-right" ng-click="goCredits()">
    <p style="color: #ef473a;">Dapur pecah blogspot</P>
  </a>

    <a class="item item-icon-right" ng-click="goCredits()">
    <p style="color: #ef473a;">wahidayatuslas blogsport</P>
  </a>

    <a class="item item-icon-right" ng-click="goCredits()">
    <p style="color: #ef473a;">cat’z café.com</P>
  </a>

    <a class="item item-icon-right" ng-click="goCredits()">
    <p style="color: #ef473a;">resipi dapur Malaysia</P>
  </a>

    <a class="item item-icon-right" ng-click="goCredits()">
    <p style="color: #ef473a;">cahaya syifa blogsport</P>
  </a>

    <a class="item item-icon-right" ng-click="goCredits()">
    <p style="color: #ef473a;">curlybabestisfaction blogsport</P>
  </a>

    <a class="item item-icon-right" ng-click="goCredits()">
    <p style="color: #ef473a;">resepi bonda.com</P>
  </a>

      <a class="item item-icon-right" ng-click="goCredits()">
    <p style="color: #ef473a;">Tengkubutang blogsport</P>
  </a>

      <a class="item item-icon-right" ng-click="goCredits()">
    <p style="color: #ef473a;">Azie kitchen </P>
  </a>

      <a class="item item-icon-right" ng-click="goCredits()">
    <p style="color: #ef473a;">resepi ibu</P>
  </a>

      <a class="item item-icon-right" ng-click="goCredits()">
    <p style="color: #ef473a;">Fauziah samad.com</P>
  </a>

      <a class="item item-icon-right" ng-click="goCredits()">
    <p style="color: #ef473a;">Rawang.com</P>
  </a>

        <a class="item item-icon-right" ng-click="goCredits()">
    <p style="color: #ef473a;">Arbiwaty blogsport</p>
  </a>

        <a class="item item-icon-right" ng-click="goCredits()">
    <p style="color: #ef473a;">Rasa Malaysia</P>
  </a>

        <a class="item item-icon-right" ng-click="goCredits()">
    <p style="color: #ef473a;">Sanremo.com</P>
  </a>

        <a class="item item-icon-right" ng-click="goCredits()">
    <p style="color: #ef473a;">Blogzonwanita blogsport</P>
  </a>
</div>
</div>
</ion-content>
</ion-view>
