<ion-view view-title="Home">
<ion-content scroll="false">
  <ion-slides  options="options" slider="">
    <ion-slide-page>
      <div>
      <img src="img/food1.jpg" style="max-width: 991px; height:auto"/>
      </div>
    </ion-slide-page>
    <ion-slide-page>
      <div>
      <img src="img/food2.jpg" style="max-width: 991px; height:auto"/>
      </div>
    </ion-slide-page>
    <ion-slide-page>
      <div>
       <img src="img/food3.jpg" style="max-width: 991px; height:auto"/>
      </div>
    </ion-slide-page>
    <ion-slide-page>
      <div>
       <img src="img/food4.JPG" style="max-width: 991px; height:auto"/>
      </div>
    </ion-slide-page>
    <ion-slide-page>
      <div>
       <img src="img/food5.JPG" style="max-width: 991px; height:auto"/>
      </div>
    </ion-slide-page
  </ion-slides>
</ion-content>
</ion-view>

