<ion-view view-title="About Us">
  <ion-content>

<div class="card" style="padding : 7px;">
<h5 style="color: #ef473a;"><center>Emergency Contact at Sabak Bernam</h5>
 	<ion-list>

         <ion-item class="item item-text-wrap">
         <h3>Hospital Tengku Ampuan Jemaah (Sabak Bernam)</h3>
         <p>Address : </p>
         <p>
Sabak Bernam Sabak Bernam, Selangor 45200 Sabak Bernam Selangor, Malaysia
         </p>

       	 <p>Phone : </p>
         <p>
+ 603-3216 3333
         </p>
        </ion-item>

         <ion-item class="item item-text-wrap">
         <h3>Ibu Pejabat Polis Daerah Sabak Bernam</h3>
         <p>Address : </p>
         <p>
Sabak Bernam, 45300 Sungai Besar, Selangor, Malaysia
         </p>

       	 <p>Phone : </p>
         <p>
+ 603-3224 2222
         </p>
        </ion-item>

         <ion-item class="item item-text-wrap">
         <h3>Balai Polis Sekinchan</h3>
         <p>Address : </p>
         <p>
Pekan Sekinchan, 45400 Sekinchan, Selangor, Malaysia
         </p>

       	 <p>Phone : </p>
         <p>
+ 603-3241 0222
         </p>
        </ion-item>

         <ion-item class="item item-text-wrap">
         <h3>Balai Polis Sungai Besar</h3>
         <p>Address : </p>
         <p>
Sabak Bernam, 45300 Sungai Besar, Selangor, Malaysia
         </p>

       	 <p>Phone : </p>
         <p>
+ 603-3224 2222
         </p>
        </ion-item>

         <ion-item class="item item-text-wrap">
         <h3>Balai Bomba, Penyelamat Sabak Bernam</h3>
         <p>Address : </p>
         <p>
Jalan Raja Chulan, Pekan Sabak Bernam, 45200 Sabak, Selangor, Malaysia
         </p>

       	 <p>Phone : </p>
         <p>
+ 603-3216 1444
         </p>
        </ion-item>

          <ion-item class="item item-text-wrap">
         <h3>Sekinchan Fire and Reserve Station</h3>
         <p>Address : </p>
         <p>
Jalan Bernam, 45400 Sekinchan, Selangor, Malaysia
         </p>

       	 <p>Phone : </p>
         <p>
+ 603-3241 8074
         </p>
        </ion-item>
    </ion-list>

</div>

  </ion-content>
</ion-view>

