<ion-view view-title="Market">
    <ion-content>

 <ion-list>

         <ion-item class="item item-text-wrap">
          <div>
          <img src="img/market1.jpg" width="100%" height="40%">
            <h2 style="padding-bottom: 4px; color: #ef473a;"><b>Sg Haji Dorani Jetty</b></h2>
            <p style="text-align: justify;">
            •	Located at Kampung Sungai Haji Dorani. <br />
            •	The market operation hour is from 3.00 p.m until 7.00 p.m (everyday). <br />
            •	There are many types of seafood sold in this market such as crabs, squids, variety types of fish and shrimp.<br/> 
            •	All the seafood sold is fresh and look delicious. <br />
            •	Price of the seafood is very cheap according to past visitor of this market	
            </p>
          </div>
        </ion-item>

                 <ion-item class="item item-text-wrap">
          <div>
          <img src="img/market2.jpg" width="100%" height="40%">
            <h2 style="padding-bottom: 4px; color: #ef473a;"><b>Sungai Labu, Bagan Sekinchan Jetty</b></h2>
            <p style="text-align: justify;">
•	Located at Sungai Labu, Bagan Sekinchan. <br />
•	It is a fisherman jetty whereby fisherman bring their catch here. <br />
•	Sungai Labu Jetty also is the best place for fishing activity. <br />
•	Tourists can get fresh raw seafood in this jetty.
            </p>
          </div>
        </ion-item>

              <ion-item class="item item-text-wrap">
          <div>
          <img src="img/market3.jpg" width="100%" height="40%">
            <h2 style="padding-bottom: 4px; color: #ef473a;"><b>Pasar Basah Sabak Bernam</b></h2>
            <p style="text-align: justify;">
•	Pasar Basah Sabak Bernam is located at Jalan Pasar, Pekan Sabak Bernam, 45200 Sabak Bernam, Selangor. <br />
•	In this market, there are also a lot of choices of seafood but not many as Pasar Awam Sungai Besar. <br />
•	The price is also reasonable depending to the size and quality of the seafood. <br />
•	Open every day.
            </p>
          </div>
        </ion-item>

                 <ion-item class="item item-text-wrap">
          <div>
          <img src="img/market4.jpg" width="100%" height="40%">
            <h2 style="padding-bottom: 4px; color: #ef473a;"><b>Pasar Awam Sungai Besar</b></h2>
            <p style="text-align: justify;">
•	Located at  Jalan Stadium, Taman Perdana, 45300 Sungai Besar, Selangor. <br />
•	It sells raw seafood, fruits, and vegetables. <br />
•	The price of goods are affordable according to the quality.
            </p>
          </div>
        </ion-item>

                 <ion-item class="item item-text-wrap">
          <div>
          <img src="img/market5.JPG" width="100%" height="40%">
            <h2 style="padding-bottom: 4px; color: #ef473a;"><b>Bagan Nakhoda Omar, Sabak Bernam</b></h2>
            <p style="text-align: justify;">
•	Located at Jalan Satu Pantai Nakhoda Omar, Sabak Bernam. <br />
•	In this beach, tourists and visitors can pick clams by themselves and it is free. <br />
•	Apart from collecting mussels, there are also other activities such as giant bubbles and children's playground and food stalls. <br />
•	Tourists can taste the popular “Mee Udang BNO’ at this place.
            </p>
          </div>
        </ion-item>

                         <ion-item class="item item-text-wrap">
          <div>
          <img src="img/market6.JPG" width="100%" height="40%">
            <h2 style="padding-bottom: 4px; color: #ef473a;"><b>Kelong Paradise Waterfront Resort</b></h2>
            <p style="text-align: justify;">
•	Located at Bagan Nakhoda Omar, Sabak Bernam. <br />
•	This is a fishing area. <br />
•	Tourist can do fishing area at this place according to some package. <br />
•	Kelong Paradise Resort also known as ‘Banglo Samudra’. <br />
•	There are a lot of species in this area including sea bass (siakap).
            </p>
          </div>
        </ion-item>

      </ion-list>

    </ion-content>
</ion-view>
