<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" style="overflow-x: hidden;">
<!--     <ion-header-bar class="bar-stable">
      <h1 class="title">left</h1>
    </ion-header-bar> -->
    <ion-content>
      <ion-list>
        <div>
            <img src="img/header_menu.jpg" style="width: 330px; height: 148px; margin-top: -3px;">
          </div>
        <ion-item menu-close href="#/app/home" class="item-icon-left item-borderless">
          <i class="icon ion-home assertive" style="font-size: 23px;"></i>Home
        </ion-item>
        <ion-item menu-close href="#/app/select" class="item-icon-left item-borderless">
          <i class="icon ion-location assertive" style="font-size: 23px;"></i>Select Location
        </ion-item>
        <ion-item menu-close href="#/app/recipe" class="item-icon-left item-borderless">
          <i class="icon ion-pizza assertive" style="font-size: 23px;"></i>Recipe
        </ion-item>
        <ion-item menu-close href="#/app/video" class="item-icon-left item-borderless">
          <i class="icon ion-ios-videocam assertive" style="font-size: 23px;"></i>Video Recipe
        </ion-item>
        <ion-item menu-close href="#/app/market" class="item-icon-left item-borderless">
          <i class="icon ion-ios-calendar assertive" style="font-size: 23px;"></i>Seafood Market
        </ion-item>
        <ion-item menu-close href="#/app/where" class="item-icon-left item-borderless">
          <i class="icon ion-help assertive" style="font-size: 23px;"></i>Where To Stay
        </ion-item>
        <ion-item menu-close href="#/app/attraction" class="item-icon-left item-borderless">
          <i class="icon ion-heart assertive" style="font-size: 23px;"></i>Attraction
        </ion-item>
        <ion-item menu-close href="#/app/info" class="item-icon-left item-borderless">
          <i class="icon ion-person-stalker assertive" style="font-size: 23px;"></i>Additional Information
        </ion-item>
        <ion-item menu-close href="#/app/about" class="item-icon-left item-borderless">
          <i class="icon ion-person-stalker assertive" style="font-size: 23px;"></i>About Us
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
