<ion-view view-title="Recipe">
<ion-content>
<div class="card">
  <div class="item item-divider" style="background-color: #ef473a; color:white;">
    {{currentRecipe.name}}
  </div>
  <div class="item item-text-wrap">
      <img class="full-image" src="img/{{currentRecipe.img}}">
      <br /> <br />
      <p><b>Ingredients :</b></p>
      <p style="font-size: 14px; text-align: justify; text-justify: inter-word;">{{currentRecipe.ingredients}}</p>
      <br />
      <p><b>Cooking Method :</b></p>
        <p>{{currentRecipe.step1}}</p>
        <p>{{currentRecipe.step2}}</p>
        <p>{{currentRecipe.step3}}</p>
        <p>{{currentRecipe.step4}}</p>
        <p>{{currentRecipe.step5}}</p>
        <p>{{currentRecipe.step6}}</p>
        <p>{{currentRecipe.step7}}</p>
        <p>{{currentRecipe.step8}}</p>
        <p>{{currentRecipe.step9}}</p>
        <p>{{currentRecipe.step10}}</p>
        <p>{{currentRecipe.step11}}</p>
        <p>{{currentRecipe.step12}}</p>
  </div>
  <p>CC : {{currentRecipe.cc}}</p>
</div>
</ion-content>
</ion-view>
