<ion-view view-title="Recipe">
<ion-content>
<div class="list card"> 

  <a class="item item-icon-right" ng-click="goCredits()" style="background: #ef473a">
    <i class="icon ion-plus" style="color: white; font-size: 24px"></i>
    <p style="color: white;">Credits</P>
  </a>

</div>
<div class="list card" ng-repeat="item in items"> 

  <a class="item item-icon-right" ng-click="recipeDetails('{{item.id}}')">
    <i class="icon ion-android-more-vertical assertive"></i>
    {{item.name}}
  </a>

</div>
</ion-content>
</ion-view>
