<ion-view view-title="Sabak Bernam">
<ion-content ng-controller="SabakCtrl" ng-init="initialize()">
    <div style="width:100%; height:53%; "id="map" data-tap-disabled="true"></div>

 <div class="card" >
  <div style="font-size: 17px; text-align: justify; text-justify: inter-word;" class="item item-text-wrap">
The Sabak Bernam District (Jawi: سابق برنم) is a district in Selangor, Malaysia. ). It is situated to the northwest of Selangor town. It is bordered by the state of Perak to the north, the district of Hulu Selangor to the east, the district of Kuala Selangor to the south, and the Straits of Malacca to the west. Bernam River forms its border with Perak. Towns in Sabak Bernam include Sabak, Sungai Besar and Sekinchan.
   </div>
    <div ng-click="openList()" class="item item-divider" style="background-color: #ef473a; color:white;">
    <center><i class="icon ion-android-restaurant" style="font-size: 23px;"></i>View Restaurant
  </div>
  </div>


  </ion-content>
</ion-view>
