<ion-view view-title="Sekinchan">
<ion-content ng-controller="SekinchanCtrl" ng-init="initialize()">
    <div style="width:100%; height:53%; "id="map" data-tap-disabled="true"></div>

 <div class="card" >
  <div style="font-size: 17px; text-align: justify; text-justify: inter-word;" class="item item-text-wrap">
   Sekinchan is a small town located in Sabak Bernam, Selangor, Malaysia. It is located along the coastal Federal Route 5. Sekinchan is often visited for its fresh seafood. It also draws diners from Kuala Lumpur and Ipoh. There are some rice millers in the area where locally produced rice can be purchased.	
   </div>
    <div ng-click="openList()" class="item item-divider" style="background-color: #ef473a; color:white;">
    <center><i class="icon ion-android-restaurant" style="font-size: 23px;"></i>View Restaurant
  </div>
  </div>

  </ion-content>
</ion-view>
