<ion-view view-title="Sekinchan">
    <ion-content>

 <ion-list>

         <ion-item ng-repeat="item in items" class="item item-text-wrap">
          <div ng-class="isItemShown(item) ? 'item-expand active' : 'item-expand inactive'">
            <h2 style="padding-bottom: 4px; color: #ef473a;"><b>{{ item.name }}</b></h2>
            <p ng-click="goNavigate()"><b>Address : </b>{{ item.address }} </p>
            <p><b>Phone   &nbsp &nbsp: </b></p><p>{{ item.phone }}</p>
            <p><b>Hours   &nbsp &nbsp: </b></p><p>{{ item.hours }}</p>
            <p style="font-style: italic;">{{ item.others }}</p>
          <img src={{item.img}} width="100%" height="100%">
          </div>
          <div ng-click="toggleItem(item)" class="item-expand-footer">
            <i ng-class="isItemShown(item) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
            {{ isItemShown(item) ? 'Less' : 'More' }}
          </div>
        </ion-item>

      </ion-list>

    </ion-content>
</ion-view>
