<ion-view view-title="Select location">

	<ion-content overflow-scroll="false">

  
	<ion-list>
	  <ion-item ng-click="goTo(1)">
	   <img src="img/sekinchan1.jpg" style="max-width: 100%; max-height: 100%;"/>
      <h2>
	  <font color="#c23749"><b><span style="font-size:1.0em; float:center">Sekinchan</span></b></font>
	  </h2>
	  </ion-item>
	  <br />
	  <ion-item ng-click="goTo(2)">
	   <img src="img/sungai1.jpg" style="max-width: 100%; max-height: 100%;"/>
      <h2>
	  <font color="#c23749"><b><span style="font-size:1.0em; float:center">Sungai Besar</span></b></font>
	  </h2>
	  </ion-item>
	   <ion-item ng-click="goTo(3)">
	   <img src="img/sabak1.jpg" style="max-width: 100%; max-height: 100%;"/>
      <h2>
	  <font color="#c23749"><b><span style="font-size:1.0em; float:center">Sabak Bernam</span></b></font>
	  </h2>
	  </ion-item>
	  
</ion-content>
</ion-view>
