<ion-view view-title="Sungai Besar">
<ion-content ng-controller="SungaiCtrl" ng-init="initialize()">
    <div style="width:100%; height:53%; "id="map" data-tap-disabled="true"></div>

 <div class="card" >
  <div style="font-size: 17px; text-align: justify; text-justify: inter-word;" class="item item-text-wrap">
Sungai Besar is the principal town of Sabak Bernam District, Selangor, Malaysia. Majority of its people are working as farmers and fisherman, as well as working in coconut, padi planting, and palm oil plantations. The town becomes the centre of administration for Sabak Bernam district as many government offices and local authority centre are located there.
   </div>
     <div ng-click="openList()" class="item item-divider" style="background-color: #ef473a; color:white;">
    <center><i class="icon ion-android-restaurant" style="font-size: 23px;"></i>View Restaurant
  </div>
  </div>


  </ion-content>
</ion-view>
