<ion-view view-title="Video Recipe">
  <ion-content>

<a> 
<div class="row">
<div class="col">
<h4>Resipi mudah delish homemade sheelout</h4>

<div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/LTmZDQfbt9w" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>

</div>
</div>
</a>
<br />

<a> 
<div class="row">
<div class="col">
<h4>How to make prawn aglio e olio</h4>

<div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/0-CYG7bH54A" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>

</div>
</div>
</a>
<br />

<a> 
<div class="row">
<div class="col">
<h4>Ketam masak lemak cili padi</h4>

<div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/aO6qSKggx98" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>

</div>
</div>
</a>
<br />
<a> 
<div class="row">
<div class="col">
<h4>Ketupat sotong lemak</h4>

<div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/8iD0ioHnFtY" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>

</div>
</div>
</a>
<br />
<a> 
<div class="row">
<div class="col">
<h4>Resepi siakap tiga rasa ala thai</h4>

<div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/5zd7yPzGfbQ" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>

</div>
</div>
</a>
<br />
<a> 
<div class="row">
<div class="col">
<h4>Shrimp Alfredo Pasta</h4>

<div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/O5FBjo_tMEA" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>

</div>
</div>
</a>
<br />
<a> 
<div class="row">
<div class="col">
<h4>Siput masak lemak cilia pi</h4>

<div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/1bole657k4k" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>

</div>
</div>
</a>
<br />
<a> 
<div class="row">
<div class="col">
<h4>Tasty Treat: Udang Goreng Mentega Telur / Butter Prawn</h4>

<div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/2z5wnhJET2Q" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>

</div>
</div>
</a>
<br />



  </ion-content>
</ion-view>
