<ion-view view-title="Where To Stay">
  <ion-content>

  <h4><center>Sekinchan</h4>
  <ion-list ng-repeat="sekinchan in sekinchan">
       
       <ion-item class="item item-text-wrap">
          <div>
            <h2 style="padding-bottom: 4px; color: #ef473a;"><b>{{sekinchan.name}}</b></h2>

            <ion-slide-box>
              <ion-slide>
                <img src={{sekinchan.img1}} width="100%" height="50%">
              </ion-slide>
              <ion-slide>
               <img src={{sekinchan.img2}} width="100%" height="50%">
              </ion-slide>
            </ion-slide-box>

            <p><b>Address : </b></p>
            {{sekinchan.address}}
            <p><b>Phone : </b></p>
            {{sekinchan.phone}}
          </div>
        </ion-item>

    </ion-list>

  <h4><center>Sungai Besar</h4>
      <ion-list ng-repeat="sungai in sungai">
       
       <ion-item class="item item-text-wrap">
          <div>
            <h2 style="padding-bottom: 4px; color: #ef473a;"><b>{{sungai.name}}</b></h2>

            <ion-slide-box>
              <ion-slide>
                <img src={{sungai.img1}} width="100%" height="50%">
              </ion-slide>
              <ion-slide>
               <img src={{sungai.img2}} width="100%" height="50%">
              </ion-slide>
            </ion-slide-box>

            <p><b>Address : </b></p>
            {{sungai.address}}
            <p><b>Phone : </b></p>
            {{sungai.phone}}
          </div>
        </ion-item>

    </ion-list>

  <h4><center>Sabak Bernam</h4>
      <ion-list ng-repeat="sabak in sabak">
       
       <ion-item class="item item-text-wrap">
          <div>
            <h2 style="padding-bottom: 4px; color: #ef473a;"><b>{{sabak.name}}</b></h2>
            
            <ion-slide-box>
              <ion-slide>
                <img src={{sabak.img1}} width="100%" height="50%">
              </ion-slide>
              <ion-slide>
               <img src={{sabak.img2}} width="100%" height="50%">
              </ion-slide>
            </ion-slide-box>

            <p><b>Address : </b></p>
            {{sabak.address}}
            <p><b>Phone : </b></p>
            {{sabak.phone}}
          </div>
        </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
